@import 'component-vars';

@keyframes bounce {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-10%); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.Button {
  display: inline-block;
  text-decoration: none;
  font: {
    size: $button-font-size;
    weight: $button-font-weight;
  };
  text-transform: uppercase;
  background: $button-background;
  line-height: 1;
  padding: $button-padding;
  border-radius: 50em;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;

  &:hover {
    opacity: 0.85;
  }

  &, &:visited, &:active, &:focus, &:visited:focus {
    color: $button-text-color;
  }

  &_bouncing {
    &:hover {
      animation: bounce 2s ease infinite;
    }
  }

  &_disabled {
    background: transparentize($color: $button-background, $amount: 0.5);
  }

  &_alt {
    background: #3CC041;
    box-shadow: 0 4px 9px rgba(6, 57, 75, 0.41);

    &, &:visited, &:active, &:focus, &:visited:focus {
      color: $color-main;
    }
  }
}