@import 'component-vars';

.Logo {
  display: inline-block;
  max-width: 100%;
  background: $logo-background;
  background-size: contain;
  width: $logo-width;
  height: $logo-height;
  cursor: pointer;
}