.SliderArrow {
  width: 106px;
  height: 65px;
  background: center center no-repeat;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease-in-out;

  @media (max-width: 820px) {
    width: 53px;
    height: 32px;
    background-size: contain;
  }

  &:hover {
    opacity: 0.75;
  }

  @each $direction in prev, next {
    &_#{$direction} {
      background-image: url('/images/reviews/slider-arrow-#{$direction}.png');
    }
  }
}