@import 'component-vars';

.Field {
  @if $field-border == none {
    border: none;

    @if $field-bottom-border != none {
      border-bottom: $field-bottom-border;
    }
  } @else {
    border: none;
  }

  background: $field-background;
  color: $field-text-color;
  font-size: $field-font-size;
  text-align: $field-text-align;
  padding: $field-padding;
  border-radius: $field-border-radius;
  display: inline-block;
  width: 100%;
  margin-bottom: $field-gap;

  &::placeholder {
    color: $field-placeholder-text-color;
  }
}