@import 'component-vars';

.Section {
  padding: $section-vertical-padding 10px;
  text-align: center;

  &__cont {
    max-width: $cont-max-width;
    margin: 0 auto;
  }

  &__title {
    font: {
      size: $section-title-font-size;
      weight: $section-title-font-weight;
    }
    margin: 0 auto $section-title-margin;
    color: $section-title-text-color;
    text-align: $section-title-text-align;
    max-width: $cont-max-width;

    @media (max-width: 470px) {
      font-size: rem(36);
    }
  }
}