@import 'mixins';

.PolicyModal {
  text-align: left;
  font-size: rem(18);
  width: 800px;

  &__sub-title {
    margin: 0 0 5px 0;
    font: {
      size: 1.2em;
      weight: 700;
    };
  }

  &__org-name {
    margin: 0;
    font-weight: 700;
  }
}